<!--The content below is only a placeholder and can be replaced.-->



<div style="text-align:center">
  <h1>
    Bienvenue sur {{ title }} ! 
  </h1>
<h3>
Statistiques des survols nantais
</h3>
</div>
<div class="front">
  <div class="twitter">
    <ngx-twitter-timeline 
    [data]="{sourceType: 'url', url: 'https://twitter.com/planestracker'}"
    [opts]="{tweetLimit: 20}"
    ></ngx-twitter-timeline></div>
    
    <div class="nbAvionsCie">
      
      <table>
        <thead>
          <td>Compagnie</td>
          <td>Aujourd'hui</td>
          <td>Hier</td>
          <td>Cette semaine</td>
          <td>Semaine dernière</td>
          <td>Ce mois-ci</td>
          <td>Mois dernier</td>
        </thead>
        <tbody>
          <ng-container *ngFor="let company of dataCie.companies">
            <tr>
              <td>{{company.Company}}</td>
              <td>{{company.Today}}</td>
              <td>{{company.Yesterday}}</td>
              <td>{{company.Week}}</td>
              <td>{{company.LastWeek}}</td>
              <td>{{company.Month}}</td>
              <td>{{company.LastMonth}}</td>
            </tr>
          </ng-container> 
        </tbody>
      </table>
      
    </div>
    
    <div class="nbAvionsTemps">
        <table>
            <thead>
              <td>Aujourd'hui</td>
              <td>Hier</td>
              <td>Cette semaine</td>
              <td>Semaine dernière</td>
              <td>Ce mois-ci</td>
              <td>Mois dernier</td>
            </thead>
            <tbody>
              <ng-container *ngFor="let company of dataTime.time">
                <tr>
                  <td>{{company.Today}}</td>
                  <td>{{company.Yesterday}}</td>
                  <td>{{company.Week}}</td>
                  <td>{{company.LastWeek}}</td>
                  <td>{{company.Month}}</td>
                  <td>{{company.LastMonth}}</td>
                </tr>
              </ng-container> 
            </tbody>
          </table>
    </div>
    
    
    
  </div>