

.twitter {
	width:30% !important;
	border: 5px;
	border-style: inset;
	border-color: #1dcaff;
	margin: 15px;
	overflow:scroll;
	height: 600px;
	float:left;
	background-color: white;
}
.nbAvionsTemps {
	width:30% !important;
	border: 5px;
	border-style: inset;
	border-color: #f54d48;
	margin: 15px;
	overflow:scroll;
	height: 600px;
	display:flex;
	float:left;
	background-color: white;
	text-align: center;
}
.nbAvionsCie {
	width:30% !important;
	border: 5px;
	border-style: inset;
	border-color: #611dff;
	margin: 15px;
	overflow:scroll;
	height: 600px;
	float:left;
	background-color: white;
	text-align: center;
}

.table { 
	text-align: center !important;
	background-color: #1dcaff !important;
}